@use './variables' as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin pr {
  padding: 10px 15px;
  border-radius: 10px;
  border: 2px solid $border-color;
}
