@use "./partials/variables" as *;
@use "./partials/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: $background;
  @include flex-center;
}

%color {
  @include color;
}

.faq-container {
  width: 80%;
  max-width: 500px;
  background-color: $background2;
  padding: 30px 20px;
  border-radius: 10px;
  border: 2px solid $border;

  h1 {
    font-weight: 800;
    font-size: 1.5rem;
    margin-bottom: 20px;
    @extend %color;
  }

  .faq-item summary {
    margin: 10px 0px;
    @extend %color;
    cursor: pointer;
  }

  .faq-item p {
    @extend %color;
    margin: 10px 0 10px 10px;
  }
}
